/* -------------RESETS------------- */
/* Resets are used for overwriting default html tag properties/  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --clr-primary: #ffa700;
  --clr-light: #ffffff;
  --clr-dark: #2b2b2b;
  --font: "Poppins", sans-serif;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing : border-box;
  box-sizing: border-box;


  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  color: var(--clr-dark);
  font-family: var(--font);
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.header {
  padding: 1.5rem 0;
  background-color: var(--clr-dark);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.header__logo img{
  width: 5rem
}
.header__logo h5 {
  color: var(--clr-light);
  font-size: 18px;
  font-weight: 700;
}
.header__logo h5 > span {
  color: var(--clr-primary);
}
.header__nav ul {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
.header__nav ul li a {
  color: var(--clr-light);
}
.header__nav ul li a:hover {
  color: var(--clr-primary);
  transition: 0.5s ease-in-out;
}
.toggle__menu{
  display: none;
}
.toggle__menu span{
  color: var(--clr-primary);
  width: 3rem;
  height: .3rem;
  border: 2px solid var(--clr-primary);
  border-radius: 2rem;
  background-color: var(--clr-primary);
}

@media screen and (max-width: 520px){
    .header__logo h5{
        display: none;
    }
    .header{
        position: fixed;
        width: 100%;
    }
    .header__nav ul{
        background-color: var(--clr-dark);
        height: 100vh;
        width: 100%;
        position: fixed;
        right: -100%;
        z-index: 999;
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        transition: all .5s ease-in-out;
    }
    .toggle__menu{
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    .header__nav.open ul{
      right: 0;
      transition: all .5s ease-in-out;
    }
    .toggle__menu.open span:first-child{
      transform: translate(0, 10px) rotate(225deg);
      transition: 0.5s ease;
    }
    .toggle__menu.open span:nth-child(2){
      opacity: 0;
    }
    .toggle__menu.open span:last-child{
      transform: translate(0, -13px) rotate(-225deg);
      transition: 0.5s ease;
    }

}

.banner {
  justify-content: center;
  align-items: center;
  background-color: var(--clr-light);
}
.banner__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
}
.banner__text h1 {
  color: var(--clr-primary);
  font-weight: 700;
  font-size: 71px;
  max-width: 35rem;
  line-height: 7rem;
}
.banner__text p {
  margin: 3rem 0;
}
@media screen and (max-width: 520px){
  .banner__wrapper{
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .banner__text h1{
    font-size: 48px;
    max-width: unset;
    line-height: 5rem;

  }
  .banner__img img{
    width: 20rem;
  }
}

.skills {
  padding: 4rem 0;
  background-color: var(--clr-dark);
}
.skills__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.skills__card {
  text-align: center;
}
.skills__card h5 {
  font-size: 18px;
  color: var(--clr-primary);
  font-weight: 700;
  margin-top: 2rem;
}
.skills__card p {
  color: var(--clr-light);
  margin: 3rem 0;
  text-align: justify;
}
@media screen and (max-width: 520px){
  .skills__wrapper{
    flex-wrap: wrap;
  }
}
.about {
  padding: 4rem 0;
  background-color: var(--clr-light);
}
.about__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.about__img {
  position: relative;
}
.about__img::before {
  position: absolute;
  display: inline-block;
  content: " ";
  background-color: var(--clr-primary);
  width: 477px;
  height: 477px;
  border-radius: 100%;
  left: 0;
  opacity: 0.3;
}
.about__text h2 {
  font-size: 48px;
  font-weight: 700;
  color: var(--clr-primary);
  margin-bottom: 2rem;
}
.about__text p:last-child {
  margin-top: 2rem;
}

@media  screen and (max-width: 520px) {
  .about__wrapper{
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .about__img img{
    width: 20rem;
    height: 20rem;
  }
  .about__img::before{
    width: 20rem;
    height: 20rem;
  }
  .about__text h2{
    font-size: 26px;
    text-align: center;
  }

}

.trends {
  padding: 4rem 0;
  background-color: var(--clr-dark);
}
.trends__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 3rem;
}
@media screen and (max-width: 520px){
  .trends__wrapper{
    flex-wrap: wrap;
  }
}
.cta {
  padding: 4rem 0;
  background-color: var(--clr-primary);
}
.cta__info {
  text-align: center;
}
.cta__info h3 {
  font-size: 36px;
  font-weight: 600;
}
.cta__info p {
  margin-bottom: 2rem;
}
@media screen and (max-width: 520px){
  .cta__info h3{
    font-size: 24px;
    margin-bottom: 1rem;
  }
}
.footer {
  padding: 2rem 0;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}
.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__social {
  display: flex;
  gap: 1.5rem;
}
.footer__social li a {
  color: var(--clr-light);
  font-size: 18px;
}
.footer__social li a:hover {
  color: var(--clr-primary);
}
@media screen and (max-width: 520px) {
  .footer__wrapper{
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}


.about__title{
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.about__title p{
  margin: 0;
}

.about__title h1{
  max-width: 50rem;
}

.about__social__icons ul{
  display: flex;
  gap: 1rem;
}

.about__social__icons ul li a{
  color: var(--clr-primary);
}

.about__recent_project{
  background-color: var(--clr-dark);
}

h2{
  font-size: 36px;
  font-weight: 700;
  color: var(--clr-primary);
}

h4{
  font-size: 16px;
  font-weight: 700;
  color: #ffa700;
}

.project__title p{
  color: var(--clr-light);
}
@media screen and (max-width: 520px){
  .project__title h2{
    font-size: 26px;
  }
  
}

.projects__card{
  background-color: white;
  border-radius: 2rem;
  min-height: 450px;
}

.projects__card .projects__img img{
  width: 100%;
}

.porjects__desc{
  display: flex;
  padding: 2rem;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.porjects__desc .card__title {
  color: var(--clr-primary);
}

.projects__card__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  width: fit-content;
}

.projects__card__wrapper{
  margin-top: 8rem;
}
@media screen and (max-width: 520px){
  .projects__card__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.about__recent_project{
  padding: 5rem 0;
}

.cards__container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.angle__down{
  margin: auto;
}

.angle__down__wrapper{
  display: flex;
  justify-content: center;
}

.angle__down__wrapper i{
  color: var(--clr-primary);
}

.about__banner{
  padding: 5rem 0;
}

/* c service */

.services {
    padding: 2rem 0;
    background-color: var(--clr-light);
}

.services__wrapper {
    display: flex;
    align-items: center;
}

.services__wrapper:first-child {
    min-height: 85vh;
}

.services__wrapper .container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
    padding: 2rem 10rem;
    align-items: center;
}

/* flip section */
.services__wrapper:nth-child(even) {
    height: 100vh;
    padding-right: 70px;
    background-color: var(--clr-dark);
}

.services__wrapper:nth-child(even) .container {
    direction: rtl;
}

.services__wrapper:nth-child(even) .container>* {
    direction: ltr;
}

.services__wrapper:nth-child(even) .services__text p,
.services__wrapper:nth-child(even) .services__text h6 {
    color: var(--clr-light);
}

.services__text h2 {
    
    font-weight: 700;
    color: var(--clr-primary);
}

.services__text p {
    text-align: justify;
    margin-top: 2rem;
}

.services__text p:nth-of-type(3) {
    margin-top: 5rem;
}

.services__text h5 {
    font-size: 36px;
    font-weight: 700;
    color: var(--clr-primary);
    margin-top: 1rem;
}

.services__text h6 {
    font-size: 14px;
    margin-top: 1rem;
}

.services__img img {
    width: 100%;
    height: auto;
    padding-left: 40px;
    display: block;
}

.services .chevron {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.services__wrapper:last-child .chevron {
    display: none;
}

.services__wrapper:last-child {
    padding: 10rem 0;
}
@media (max-width: 520px) {

    .services {
        padding: 2rem 0;
    }

    .services__wrapper {
        min-height: auto;
        padding-top: 15rem;
    }

    .services__wrapper .container {
        grid-template-columns: 1fr;
        gap: 3rem;
        padding: 0 2rem;
        text-align: center;
    }
    .services__wrapper:nth-child(even) {
        padding: 0%;
        background-color: var(--clr-dark);
    }

    .services__text p:nth-of-type(3) {
        text-align: center;
    }

    .services__img {
        order: -1;
        display: flex;
        justify-content: center;
    }
    .services__wrapper:nth-child(even) .container {
        direction: ltr;
    }
    .services__img img {
        width: 50%;
        display: block;
    }
    .chevron {
        margin-top: 2rem;
    }
    
}
/* Latest Trends */
.latest__trends {
  padding: 60px 0;
}
.latest__trends .section__title h2 {
  font-size: 32px;
  color: var();
}
.latest__trends .section__title p {
  color: var(--clr-light);
  margin-top: 8px;
  font-size: 14px;
}

.trends__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  margin-top: 40px;
}

.trend__card {
  background: var(--clr-light);
  border-radius: 8px;
  overflow: hidden;

}

.trend__card img {
  width: 100%;
  display: block;
}

.trend__info {
  padding: 20px;
}

.trend__meta {
  font-size: 12px;
  color: var(--clr-primary);
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.trend__meta span {
  margin-right: 12px;
}

.trend__title {
  font-size: 20px;
  color: var(--clr-primary);
  margin-top: 12px;
  margin-bottom: 12px;
}

.trend__text {
  font-size: 14px;
  color: var(--clr-primary);
  line-height: 1.6;
}

.trend__readmore {
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
  color: var(--clr-primary);
  text-decoration: none;
}
/* Update */
.update .title h1{
  font-size: 71px;
  color: var(--clr-primary);
  font-weight: 700;
}

.update .update__wrapper{
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 5rem;
  margin-top: 8rem;
}

.update .update__icons{
  display: flex;
  gap: 1rem;
}

.update .content{
  display: flex;
}

.update .content p{
  font-size: 12px;
}

.update__wrapper h3{
  font-size: 24px;
  color: var(--clr-primary);
  font-weight: 500;
}

.update .update__content{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.update .update__right{
  display: flex;
  flex-direction: column;
  gap: 11rem;
}

.update .update__categories{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.update .update__categories .contents{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.update .update__categories .cat__content{
  display: flex;
  justify-content: space-between;
}

.update .line{
  width: 100%;
  height: 2px;
  background-color: var(--clr-light);
}

.update .update__recent__post{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.update .update__recent__post .contents{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.update .update__recent__post .res__content{
  display: flex;
  gap: 2rem;
}

.update .update__recent__post .info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 5px;
}

.update .tags{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.update .tags .buttons a{
  padding: 1rem 1.5rem;
  display: inline-block;
  margin: 2px;
  border-radius: 3rem;
  font-size: 14px;
  font-weight: 400;
  border: var(--clr-dark) solid 1px;
}

.update .tags .buttons a.btn__secondary{
  background-color: var(--clr-dark);
  color:var(--clr-light);
}

.update .update__wrapper .content__line{
  width: 100%;
  height: 2px;
  background-color: var(--clr-light);
}

.update .update__left{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.update .update__content h5{
  color: var(--clr-primary);
  margin-bottom: 2rem;
}

.update .buttons .btn__outline:hover{
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.update .buttons .btn__secondary:hover{
  background-color: var(--clr-light);
  color:var(--clr-dark);
}
header
/* == RESET == */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #2c2c2c;
  color: var(--clr-light);
}

/* == CONTAINER === */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* === HEADER === */
.header {
  background-color: var(--clr-dark);
  padding: 25px 0;
  border-bottom: 1px solid var(--clr-dark);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__logo img {
  width: 45px;
}

.header__logo h5 {
  font-size: 18px;
  font-weight: 500;
}

.header__logo span {
  color:var(--clr-primary);
}

/* NAVIGATION */
.header__nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

.header__nav a {
  text-decoration: none;
  color: var(--clr-light);
  font-size: 15px;
  transition: 0.3s;
}

.header__nav a:hover,
.header__nav a.active {
  color: var(--clr-primary);
}
/* contact */
.contact__body{
  display: flex;
  flex-direction: column;
  background-color: var(--clr-dark);
  height: 100vh;
  padding-top: 0;
}

.contact__body footer{
  margin-top: auto; 
}

.contact .contact__text p{
  color: var(--clr-light);
  margin-top: 4rem;
}

.contact .contact__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin-top: 120px;
}

.contact__info{
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.contact__info__content{
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.contact .contact__info .content{
  display: grid;
  grid-template-columns: 25px 1fr;
  gap: 4rem;
}

.contact .contact__info__content p{
  color: var(--clr-light);
}

.contact .contact__info__content i{
  color: var(--clr-primary);
  font-size: 30px;
}

.contact form input{
  height: 40px;
  padding: 0 10px;
}

.contact form{
  display: flex;
  gap: 3rem;
  flex-direction: column;
}

.contact form button{
  width: fit-content;
  padding: 1.5rem;
  border-radius: 12rem;
  color: var(--clr-light);
  background-color: var(--clr-primary);
  align-self: flex-end; 
  border: 1px solid var(--clr-light); 
}

.contact form button:hover{
  background-color: var(--clr-dark);
}

.contact .contact__social a{
  color: var(--clr-light);
  font-size: 30px;
}

.contact .contact__social a:hover{
  color: var(--clr-primary);
}

.contact .contact__form{
  margin-top: 10rem;
}

.contact .contact__text h1{
  font-size: 71px;
  font-weight: 700;
  color: var(--clr-primary);
}

@media screen and (max-width: 520px) {

  .contact{
    margin-top: 0;
  }

  .contact .contact__wrapper{
    display: flex;
    flex-direction: column;
  }

  .contact .contact__text h1 {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
  }

  .contact .contact__text p {
    text-align: center;
  }

  .contact .contact__form {
    margin-top: 1rem;
  }

}
/* ASSETS */
.title h2 {
  font-size: 48px;
  font-weight: 700;
  color: var(--clr-primary);
}
.trends .title p {
  color: var(--clr-light);
}
.cards {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-color: var(--clr-light);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}
.cards img {
  display: block;
  width: 100%;
  height: 50rem;
  object-fit: cover;
  transition: transform 0.5s;
  transition: all 0.5s ease-in-out;
}
.cards__details {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  height: 0;
  background-color: var(--clr-light);
  padding: 0 2rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}
.cards__details h5 {
  font-size: 18px;
  color: var(--clr-primary);
  font-weight: 700;
  margin-bottom: 2rem;
}
.cards__details p {
  margin-bottom: 3rem;
}
.cards:hover img {
  height: 50rem;
  transform: scale(1.2);
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}
.cards:hover .cards__details {
  height: 45%;
  transition: all 0.5s ease-in-out;
}
.btn {
  display: inline-block;
  background-color: transparent;
  border: transparent;
  padding: 1rem 2rem;
  color: transparent;
  border-radius: 10rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn.bg--primary {
  background-color: var(--clr-primary);
  color: var(--clr-light);
}
.btn.bg--primary:hover {
  border: 1px solid var(--clr-primary);
  background-color: var(--clr-light);
  color: var(--clr-dark);
  transition: all 0.5s ease-in-out;
}
.btn.bg--dark {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}
.btn.bg--dark:hover {
  border: 1px solid var(--clr-dark);
  background-color: var(--clr-light);
  color: var(--clr-dark);
  transition: all 0.5s ease-in-out;
}
.no-bg-btn {
  color: var(--clr-primary);
  transition: all 0.5s ease-in-out;
}
.no-bg-btn:hover {
  color: var(--clr-dark);
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 520px){
  .title h2{
    font-size: 36px;
  }
  .cards__details{
    /* width: 38rem; */
  }
  
}